.main-fast-div{
  width: 100%;
}

.heading-div{
    width: 100%;
}

.photo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
    gap: 10%;
    border-radius: 30px;
    background-color: skyblue;
    color: darkgreen;
    font-size: 42px;
    font-weight: 500;
}

.hi-div{
    gap: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}

.h2-div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}

.icon-div{
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-fast{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-div-fast{
    width: 100%;
    padding-right: 23px;
}

.text-video-div{
    display: flex;
    flex-direction: column;
}

.corousel-div{
    padding-top: 4%;
    padding-left: 12%;
    width: 90%;
}

.text-div-fast{
    display: flex;
    gap: 13%;
    padding-bottom: 4%;
}